 .myclass{
    color: red;
    border: solid blue;
    width: 100px;
    height: 100px;
    padding: 160px;
    margin: 100px;
    background-color: aquamarine;
    border-radius: 50px;
    /* 1em = 16px */
    
}

.image
{display: flex;
  align-items: flex;
  justify-content: center;

}

img {
    height: 250px;
    width: 250px;
    
    
  
}

 